[submodule ".vim/bundle/ctrlp.vim"]
  path = .vim/bundle/ctrlp.vim
  url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/bundle/nerdtree"]
  path = .vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/rust.vim"]
  path = .vim/bundle/rust.vim
  url = https://github.com/rust-lang/rust.vim
[submodule ".vim/bundle/vim-crystal"]
  path = .vim/bundle/vim-crystal
  url = https://github.com/rhysd/vim-crystal
[submodule ".vim/bundle/vim-endwise"]
  path = .vim/bundle/vim-endwise
  url = https://github.com/tpope/vim-endwise
[submodule ".vim/bundle/vim-jsx"]
  path = .vim/bundle/vim-jsx
  url = https://github.com/mxw/vim-jsx
[submodule ".vim/bundle/vim-markdown"]
  path = .vim/bundle/vim-markdown
  url = https://github.com/tpope/vim-markdown
[submodule ".vim/bundle/vim-pathogen"]
  path = .vim/bundle/vim-pathogen
  url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/vim-rails"]
  path = .vim/bundle/vim-rails
  url = https://github.com/tpope/vim-rails
[submodule ".vim/bundle/vim-repeat"]
  path = .vim/bundle/vim-repeat
  url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/vim-ruby"]
  path = .vim/bundle/vim-ruby
  url = https://github.com/vim-ruby/vim-ruby
[submodule ".vim/bundle/vim-vue"]
  path = .vim/bundle/vim-vue
  url = https://github.com/posva/vim-vue
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
